Source: bunsen-docs
Section: doc
Priority: extra
Maintainer: John Crawley <john@bunsenlabs.org>
Build-Depends: debhelper (>= 9), pandoc, make
Standards-Version: 3.9.5
Homepage: https://github.com/BunsenLabs/bunsen-docs
Vcs-Git: https://github.com/BunsenLabs/bunsen-docs.git
Vcs-Browser: https://github.com/BunsenLabs/bunsen-docs.git

Package: bunsen-docs
Architecture: all
Depends: ${misc:Depends}
Description: Documentation for BunsenLabs.
 Helpfiles and other documentation for BunsenLabs.
